<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.hotel.business.mapper.IResponseMapper">

	<resultMap id="ResponseResultMap" type="Response" >
		<id property="rid" column="RID"/>
		<result property="bcode" column="BIZCODE"/>
		<result property="wid" column="WORKERID"/>
		<result property="time" column="WORKTIME"/>
	</resultMap>
 
	<insert id="insert">
	insert into oa_response (RID,BIZCODE,WORKERID,WORKTIME) values (#{rid},#{bcode},#{wid},#{time})
 	</insert>
  
 	<update id="update">
 	update oa_response set BIZCODE=#{bcode},WORKERID=#{wid},WORKTIME=#{time} where RID=#{rid}
 	</update>
  
	<delete id="delete">
 	delete from oa_response where RID=#{rid}
 	</delete>
  
 	<select id="selectByAll"  resultMap="ResponseResultMap">
 	select *  from oa_response
 	</select>
 	
 	<select id="selectByAllWithPage" resultMap="ResponseResultMap">
 	select *  from oa_response limit #{start},#{rows}
 	</select>
 	
 	<select id="selectCountByAll" resultType="_int">
 	select count(*) from oa_response
 	</select>
 
 	<select id="selectById"  resultMap="ResponseResultMap">
 	select * from oa_response where RID=#{rid}
 	</select>
  
</mapper>